/*--------------------------------------
  3. Button Styles
--------------------------------------*/

a.tutor-bg-primary,
.button,
.primary_button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: var(--body-font-size);
    line-height: 1.6em;
    font-weight: 500;
    padding: 10px 24px;
    color: var(--white-color);
    background-color: var(--accent-color);
    border: 1px solid var(--accent-color);
    letter-spacing: 0.02em;
    text-align: center;
    outline: none;
    position: relative;
    z-index: 1;
    overflow: hidden;
    box-shadow: 0 0 0 0 transparent inset;
    filter: brightness(1);
    gap: 8px;
    text-transform: capitalize;
}

.button:not(:disabled):hover,
.primary_button:not(:disabled):hover {
    background-color: var(--accent-color);
    border-color: var(--accent-color);
    color: var(--accent-color);
}

input.button:hover {
    color: var(--white-color);
}

.button .x-icon,
.primary_button .x-icon,
.cdx-btn .brainforward_button_icon {
    margin-left: 8px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    animation: iconMove ease-out 0.4s;
}

.button:hover .x-icon,
.primary_button:hover .x-icon,
.cdx-btn:hover .brainforward_button_icon {
    animation: iconMove ease-out 0.4s;
}

.button img,
.primary_button img {
    margin-left: 10px;
    margin-right: -5px;
    width: 25px;
}

.button.rounded,
.primary_button.rounded {
    border-radius: 100px !important;
}

.small-button {
    padding: 10px 24px;
    font-size: 14px;
}

.button.outline,
.primary_button.outline {
    background-color: #ffffff;
    color: var(--accent-color);
}

.button.outline:before,
.primary_button.outline:before {
    background-color: var(--accent-color);
}

.button.outline:hover,
.primary_button.outline:hover {
    background-color: white;
    color: #ffffff;
}

.button.dark,
.primary_button.dark {
    background-color: var(--accent-color);
    border-color: var(--accent-color);
    color: white;
}

.button.dark.outline,
.primary_button.dark.outline {
    background-color: white;
    border-color: var(--accent-color);
    color: var(--accent-color);
}

.button.dark:hover,
.primary_button.dark:hover {
    background-color: var(--accent-color);
    border-color: var(--accent-color);
    color: #ffffff;
}

.button.dark.outline:hover,
.primary_button.dark.outline:hover {
    background-color: var(--accent-color);
    border-color: var(--accent-color);
    color: white;
}

a.tutor-bg-primary:before,
.button:before,
.primary_button:before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    left: -50%;
    bottom: -70%;
    background: var(--white-color);
    filter: url(#filter);
    transition: all 1.5s cubic-bezier(0.1, 0.22, 0.3, 1);
    z-index: -1;
    border-radius: 100%;
    transform: scale(1);
}

a.tutor-bg-primary:hover:before,
.button:not(:disabled):hover:before,
.primary_button:not(:disabled):hover:before {
    width: 200%;
    height: 200%;
    transform: scale(1.8);
}
