.bf-login-wrapper {
    margin: 100px auto;
    padding: 0px 16px;
}

.bf-login-body {
    box-shadow: 0px 16px 32px 0px rgba(0,0,0,0.1);
    border: 1px solid var(--border-color);
    border-radius: 12px;
    padding: 32px;
    margin: 0px auto;
    max-width: 500px;
    width: 100%;
}

.bf-login-tabs {
    display: flex;
    align-items: center;
    margin-bottom: 32px;
    overflow: hidden;
    position: relative;
    z-index: 1;
}

.bf-login-tabs .bf-tab-button {
    border: none;
    background: none;
    padding: 15px;
    width: 100%;
    border-radius: 8px;
    border: 1px solid transparent;
}

.bf-login-tabs .bf-tab-button.active {
    color: var(--accent-color);
    background-color: #e6f1f2;
    border-color: #b9d8db;
}

.bf-login-tab-content:not(.active) {
    display: none;
}

.tutor-form-control {
    border: 1px solid var(--border-color) !important;
}

#bf-password-toggle {
    position: absolute;
    right: 15px;
    top: 17px;
    z-index: 99;
}

#bf-forgot-button {
    border: none;
    background: none;
    float: right;
    margin-top: 13px;
    cursor: pointer;
    color: gray;
}

#bf-forgot-button:hover {
    color: var(--accent-color);
    text-decoration: underline;
}