.navbar__height {
    width: 100%;
    background-color: var(--white-color);
    height: var(--navbar-height);
}

.main__navbar {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 9999999;
    background-color: var(--white-color);
    border-bottom: 1px solid var(--border-color);
}

.transparent_menu .navbar__height {
    display: none;
}

.transparent_menu .menu__height {
    width: 100%;
    height: calc(var(--navbar-height) / 1.9);
}

.main__navbar .navbar__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
}

.main__navbar .navbar__logo a {
    color: var(--primary-color);
}

.main__navbar .navbar__logo {
    min-height: var(--navbar-height);
    display: inline-flex;
    align-items: center;
}

.navbar__logo img.custom-logo {
    width: 150px;
}

.main__navbar .navbar__logo a:hover {
    color: var(--accent-color);
}

.main__navbar .navbar__logo-light {
    display: none;
}

.main__navbar .navbar__actions {
    display: flex;
    gap: 16px;
    align-items: center;
}

.main__navbar .navbar__action {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--primary-color);
    transition: color 0.3s ease;
    font-size: 20px;
    width: 32px;
    height: 32px;
    border: none;
    background: none;
    padding: 0;
}

/*----- Navbar Search Form -----*/
.navbar__search {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background-color: var(--gray-color);
    padding-top: 60px;
    padding-bottom: 140px;
    z-index: 99999999;
    display: none;
}


.navbar__sidebar .navbar__sidebar-header,
.navbar__search .navbar__search-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar__search .navbar__search-header {
    margin-bottom: 90px;
}

.navbar__sidebar .navbar__sidebar-header .navbar__sidebar-logo a,
.navbar__search .navbar__search-header .navbar__search-logo a {
    color: var(--primary-color);
}

.navbar__sidebar .navbar__sidebar-header .navbar__sidebar-logo img,
.navbar__search .navbar__search-header .navbar__search-logo img {
    max-width: 120px;
    height: auto;
}

.navbar__sidebar .navbar__sidebar-header .navbar__sidebar-logo a:hover .navbar__search .navbar__search-header .navbar__search-logo a:hover {
    color: var(--accent-color);
}

.navbar__sidebar .navbar__sidebar-header .navbar__sidebar-close,
.navbar__search .navbar__search-header .navbar__search-close {
    border: none;
    background: none;
    font-size: 24px;
    outline: none;
    box-shadow: none;
    transition: transform 0.3s ease;
    transform: rotate(0deg);
}

.navbar__sidebar .navbar__sidebar-header .navbar__sidebar-close:hover,
.navbar__search .navbar__search-header .navbar__search-close:hover {
    transform: rotate(90deg);
}

.navbar__search .navbar__search-header .navbar__logo-light,
.navbar__sidebar .navbar__sidebar-header .navbar__logo-light {
    display: none;
}

.navbar__search .navbar__search-input {
    font-family: var(--heading-font-family);
    font-size: var(--h4-size);
    font-weight: 400;
    background: none;
    padding: 12px 0px;
    border: none;
    border-bottom: 1px solid var(--border-color);
	border-radius: 0px !important;
}

.navbar__search-form {
    position: relative;
    z-index: 1;
}

.navbar__search-form .navbar__search-submit {
    border: none;
    background: none;
    font-size: 24px;
    position: absolute;
    right: 0px;
    top: 16px;
    z-index: 2;
}

.navbar__menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.navbar__menu ul.nav {
    gap: 32px;
}

.navbar__menu li {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 4px;
}

.navbar__menu li a {
    color: var(--primary-color);
    text-decoration: none;
    padding: 6px 0px;
    font-size: calc(var(--body-font-size) + 2px);
    font-weight: 500;
    transition: color 0.3s ease;
    letter-spacing: 0.3px;
    line-height: 1.2em;
}

.navbar__menu li li a {
    font-size: calc(var(--body-font-size) - 2px);
}

.navbar__menu li .sub__menu-toggle {
    border: none;
    margin: 0px;
    padding: 0px;
    background: none;
    padding: 0px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: var(--primary-color);
    font-size: 16px;
    width: 20px;
    height: 20px;
    line-height: 1em;
    margin-bottom: 3px;
}

.navbar__menu li:hover>.sub__menu-toggle,
.navbar__menu li a:focus,
.navbar__menu li:hover>a {
    color: var(--accent-color);
}

.navbar__sidebar {
    position: fixed;
    right: 0;
    z-index: 9999;
    background-color: var(--white-color);
    width: 300px;
    max-width: 100vw;
    height: 100%;
    border-left: 1px solid var(--border-color);
    opacity: 0;
    visibility: hidden;
    transform: translateX(100%);
    transition: all 0.3s ease;
}

.navbar__sidebar.active {
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
}

.navbar__sidebar .navbar__sidebar-header {
    padding: 24px 24px;
}

.navbar__sidebar-content {
    display: flex;
    flex-direction: column;
    gap: 40px;
    max-height: calc(100vh - 140px);
    overflow: auto;
    padding: 0px 24px;
}

.main__navbar .primary_button {
    margin-left: 12px;
}

.navbar__menu li .sub__menu-toggle i {
    transform: rotate(0deg);
    transition: transform 0.3s ease;
}

.transparent_menu .main__navbar {
    background-color: transparent;
    border-bottom-color: transparent;
}

.transparent_menu.light .main__navbar:not(.sticky) .navbar__action {
    color: var(--white-color);
}

.transparent_menu.light .main__navbar:not(.sticky) .navbar__logo-main {
    display: none;
}

.transparent_menu.light .main__navbar:not(.sticky) .navbar__logo-light {
    display: inline-block;
}

.transparent_menu.light .main__navbar:not(.sticky) .navbar__menu .nav > li > .sub__menu-toggle,
.transparent_menu.light .main__navbar:not(.sticky) .navbar__menu .nav > li > a  {
    color: var(--white-color);
}

.main__navbar.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
    transition: 0.3s ease;
    transform: translateY(-100%);
}

.main__navbar.sticky.visible {
    transform: translateY(0%);
}

.transparent_menu .main__navbar:before {
    content: "";
    position: absolute;
    left: 0;
    top: calc(0px - var(--navbar-height));
    width: 100%;
    height: var(--navbar-height);
    background-color: var(--white-color);
    z-index: -1;
    transition: 0.3s ease;
}

.transparent_menu .main__navbar.sticky:before {
    top: 0px;
}

@media only screen and (min-width: 993px) {
    .main__navbar .navbar__row .navbar__logo {
        min-width: 120px;
    }

    .navbar__menu li {
        position: relative;
    }

    .navbar__menu li ul {
        position: absolute;
        top: 100%;
        left: 0;
        width: 200px;
        background: var(--white-color);
        z-index: 99;
        opacity: 0;
        visibility: hidden;
        transform: translateY(10px);
        transition: all 0.3s ease;
        pointer-events: none;
    }

    .navbar__menu li ul li {
        padding: 0px 16px;
    }

    .navbar__menu li ul li:first-child {
        padding-top: 8px;
    }

    .navbar__menu li ul li:last-child {
        padding-bottom: 8px;
    }

    .navbar__menu li:hover>ul {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
        pointer-events: auto;
    }

    /* Optional: animate child items for a fade-in effect */
    .navbar__menu li ul li {
        transition: all 0.3s ease;
    }

    .navbar__menu li ul ul {
        left: 100%;
        top: 0px;
    }

    .main__navbar .navbar__actions {
        order: 1;
    }

    .navbar__menu ul.nav>li {
        min-height: var(--navbar-height);
    }

    .navbar__menu li:hover>.sub__menu-toggle i {
        transform: rotate(45deg);
    }

    .main__navbar .navbar__action.navbar__mobile-toggle {
        display: none;
    }

    .admin-bar .main__navbar.sticky {
        position: fixed;
        top: 32px;
    }
}


@media only screen and (min-width: 993px) and (max-width: 1200px) {
    body {
        --navbar-height: 80px
    }

    .navbar__menu ul.nav {
        gap: 20px;
    }

    .main__navbar .navbar__actions {
        gap: 8px;
    }

    .main__navbar .navbar__row {
        gap: 16px;
    }

    .navbar__menu li a {
        font-size: var(--body-font-size);
    }
}

@media only screen and (max-width: 992px) {
    body {
        --navbar-height: 74px
    }

    .main__navbar .navbar__row {
        flex-wrap: wrap;
    }

    .main__navbar .navbar__menu {
        position: absolute;
        left: 0;
        top: 100%;
        z-index: 2;
        background-color: var(--white-color);
        width: 100%;
        padding-left: var(--bs-gutter-x, .75rem);
        padding-right: var(--bs-gutter-x, .75rem);
        padding-bottom: 24px;
        border-bottom: 1px solid var(--border-color);
        display: none;
    }

    .navbar__menu ul.nav {
        flex-direction: column;
    }

    .navbar__menu li {
        flex-wrap: wrap;
        gap: 0;
    }

    .navbar__menu ul ul {
        width: 100%;
        margin-left: 16px;
        display: none;
    }

    .navbar__menu ul.nav {
        gap: 8px;
    }

    .navbar__menu li a {
        padding: 4px 0px;
        font-size: var(--body-font-size);
    }

    .navbar__menu li .sub__menu-toggle {
        margin: 0px;
        width: 16px;
        height: 15px;
    }

    .navbar__menu li .sub__menu-toggle.active i {
        transform: rotate(45deg);
    }
}

@media only screen and (max-width: 575px) {
    body {
        --navbar-height: 60px
    }

    .main__navbar .navbar__row {
        min-height: var(--navbar-height);
    }

    .main__navbar .primary_button {
        margin-left: 0px;
        width: 100%;
    }

    .main__navbar .navbar__actions {
        gap: 6px;
    }
    
    .main__navbar .navbar__logo .custom-logo {
        max-width: 100px;
    }
    .main__navbar .navbar__row {
        gap: 12px;
    }
    .main__navbar .navbar__logo {
        min-height: inherit;
    }
}