.post_share-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 56px;
}

.post_share-menu .share-icon {
    background-color: rgb(var(--white-color));
    width: 30px;
    font-size: 30px;
    border-radius: 100px;
    text-align: center;
    line-height: 0;
    opacity: 0.4;
    margin-right: 15px;
}

.post_share-menu .social-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.post_share-menu .social-items a {
    width: 40px;
    height: 30px;
    display: block;
    text-align: center;
    line-height: 30px;
    color: #838383;
}

.post_share-menu .social-items a:hover {
    color: rgb(var(--primary-color));
}

.grid_space {
    margin-bottom: -30px;
}

.grid_space>div {
    margin-bottom: 30px;
}

.video-post {
    position: relative;
}

.video-post .videoPoster {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 50%;
    background-attachment: scroll;
    background-color: #ededed;
    overflow: hidden;
    z-index: 1
}

.video-post .video-play-bttn {
    display: inline-block;
    width: 100px;
    height: 100px;
    line-height: 99px;
    border-radius: 100px;
    text-align: center;
    background-color: rgb(var(--primary-color));
    font-size: 16px;
    color: #ffffff;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 2;
    opacity: 1;
    border: none;
    padding-left: 5px;
}

.video-post .video-play-bttn:hover {
    background-color: rgb(var(--white-color));
    color: rgb(var(--primary-color));
}

.swiper-container-horizontal>.swiper-pagination-bullets,
.swiper-pagination-custom,
.swiper-pagination-fraction {
    bottom: 30px;
    text-align: center;
    padding: 0 25px;
}

.swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    display: inline-block;
    border-radius: 100px;
    background: rgba(var(--white-color), 1);
    -webkit-transition: 0.3s;
    transition: 0.3s;
    opacity: 1;
    -webkit-box-shadow: 0 0 10px 2px rgba(var(--heading-color), 0.2);
    box-shadow: 0 0 10px 2px rgba(var(--heading-color), 0.2);
}

.swiper-pagination-bullet:hover,
.swiper-pagination-bullet-active {
    opacity: 1;
    background: rgb(var(--primary-color));
}

.slider_arrows.post_slider_arrow {
    position: absolute;
    right: 0;
    bottom: 50%;
    z-index: 2;
    width: 100%;
    -webkit-transform: translateY(50%);
    transform: translateY(50%);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 25px;
}

.slider_arrows .slider_arrow {
    background-color: rgb(var(--white-color));
    color: rgb(var(--primary-color));
    width: 80px;
    height: 80px;
    line-height: 80px;
    border-radius: 100px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    border: none;
}

.slider_arrows .slider_arrow:hover {
    background-color: rgb(var(--primary-color));
    color: rgb(var(--white-color));
}

.slider_arrows .slider_arrow:hover {
    background-color: rgb(var(--primary-color));
}

.svg_icon {
    width: 24px;
    height: 20px;
}


/*----------------------
Author-Information-widget
-----------------------*/
.main-sidebar .widget.widget_folioedge_author_info {
    background-color: rgb(var(--dark-color));
    padding: 50px 35px;
}

.widget_folioedge_author_info .author-pic {
    width: 170px;
    height: 170px;
    border-radius: 999px;
    overflow: hidden;
    margin: 0 0 24px 0;
}

.widget_folioedge_author_info .author-name {
    margin-bottom: 10px;
    color: rgb(var(--white-color));
}

.widget_folioedge_author_info {
    color: rgb(var(--white-color));
    font-size: calc(var(--body-font-size) - 2px);
}

.widget_folioedge_author_info .widget-content {
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.widget_folioedge_author_info .author-social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: -5px;
    padding-top: 20px;
}

.widget_folioedge_author_info .author-social a {
    width: 40px;
    height: 20px;
    line-height: 20px;
    font-size: 18px;
    text-align: center;
    color: rgba(var(--white-color), 0.3);
}

.widget_folioedge_author_info .author-social a:hover {
    color: rgb(var(--primary-color));
}


/*----------------------
Social_Menu-widget
-----------------------*/
.social_menu {
    margin: -5px;
}

.social_menu a {
    width: 48px;
    height: 48px;
    line-height: 48px;
    text-align: center;
    background-color: rgb(var(--white-color));
    color: rgb(var(--primary-color));
    border: 2px solid rgb(var(--primary-color));
    border-radius: 5px;
    display: inline-block;
    margin: 5px;
}

.social_menu a:hover {
    background-color: rgb(var(--primary-color));
    color: rgb(var(--white-color));
    border-color: rgb(var(--primary-color));
}

/*----------------------
Popular-post-widget
-----------------------*/
.popular-posts .post-item {
    margin-bottom: 24px;
    position: relative;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.popular-posts .post-item:last-child {
    margin-bottom: 0px;
}

.popular-posts .post-item .post-pic {
    width: 88px;
    min-width: 88px;
    margin-right: 15px;
    border-radius: 5px;
    overflow: hidden;
}

.popular-posts .post-item .title {
    margin-bottom: 0px;
    font-size: 18px;
    font-weight: 700;
    overflow: hidden;
    font-family: var(--body-font-family);
}

.popular-posts .post-item .title a {
    color: rgb(var(--heading-color));
}

.popular-posts .post-item .title:hover a {
    color: rgb(var(--primary-color));
}

.popular-posts .post-item .post-meta-list {
    font-size: 14px;
    margin-top: 10px;
}

.popular-posts .post-item .post-meta-list li {
    margin-top: 0;
    font-size: calc(var(--body-font-size) - 4px);
    line-height: 1.5;
    text-transform: capitalize;
    color: rgb(var(--secondary-color));
    font-weight: 500;
}

.popular-posts .post-item .post-meta-list li .icon {
    margin-right: 3px;
    display: none;
}

/*----- Service-CSS -----*/
.service-box .box-title {
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.service-box .box-desc {
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

/*----- Case-Studies-CSS -----*/
.case_studie_box {
    position: relative;
    z-index: 1;
    background-color: rgb(var(--white-color));
    overflow: hidden;
    border-radius: 5px;
}

.case_studie_box .photo {
    overflow: hidden;
    border-radius: 5px;
    margin: 0 !important;
}

.case_studie_box .photo img {
    -webkit-filter: brightness(0.8);
    filter: brightness(0.8);
    -webkit-transform: scale(1.1) rotate(3deg);
    transform: scale(1.1) rotate(3deg);
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

.case_studie_box:hover .photo img {
    -webkit-transform: scale(1) rotate(0deg);
    transform: scale(1) rotate(0deg);
    -webkit-filter: brightness(1);
    filter: brightness(1);
}

.case_studie_box .case_studie_content {
    padding: 16px 0 0 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
}

.case_studie_content .cats {
    margin-bottom: 8px;
}

.case_studie_content .cats a:not(:first-child) {
    display: none;
}

.case_studie_box .case_studie_content .title {
    margin: 0;
    font-size: 28px;
}

.case_studie_box .case_studie_content .title a {
    color: rgb(var(--heading-color));
}

.case_studie_box .case_studie_content .title a:hover {
    color: rgb(var(--primary-color));
}

.case_studie_box .case_studie_content .link-arrow {
    color: rgb(var(--heading-color));
    margin-bottom: 10px;
}

.case_studie_box .case_studie_content .link-arrow:hover {
    color: rgb(var(--primary-color));
}

.case_studie_box.box-2 {
    background-color: rgb(var(--gray-color));
    overflow: hidden;
    border-radius: 5px;
    -webkit-box-shadow: 0px 15px 45px rgba(0, 0, 0, 0);
    box-shadow: 0px 15px 45px rgba(0, 0, 0, 0);
}

.case_studie_box.box-2 .case_studie_content {
    padding: 40px;
}

.case_studie_box.box-2:hover {
    background-color: rgb(var(--white-color));
    -webkit-box-shadow: 0px 15px 45px rgba(0, 0, 0, 0.08);
    box-shadow: 0px 15px 45px rgba(0, 0, 0, 0.08);
}

.case_studie_box.box-5 .case_studie_content .link-arrow,
.case_studie_box.box-4 .case_studie_content .link-arrow,
.case_studie_box.box-3 .case_studie_content .link-arrow,
.case_studie_box.box-2 .case_studie_content .link-arrow {
    width: 64px;
    height: 64px;
    min-width: 64px;
    min-height: 64px;
    line-height: 60px;
    background-color: rgb(var(--primary-color));
    text-align: center;
    color: #ffffff;
    display: block;
    border-radius: 5px;
    -webkit-box-shadow: 0px 15px 45px rgba(0, 0, 0, 0);
    box-shadow: 0px 15px 45px rgba(0, 0, 0, 0);
}

.case_studie_box.box-5 .case_studie_content .link-arrow,
.case_studie_box.box-4 .case_studie_content .link-arrow,
.case_studie_box.box-2 .case_studie_content .link-arrow {
    border-radius: 100px;
}

.case_studie_box.box-5 .case_studie_content .link-arrow:hover,
.case_studie_box.box-4 .case_studie_content .link-arrow:hover,
.case_studie_box.box-3 .case_studie_content .link-arrow:hover,
.case_studie_box.box-2 .case_studie_content .link-arrow:hover {
    background-color: rgb(var(--dark-color));
    color: rgb(var(--white-color));
    -webkit-box-shadow: 0px 15px 45px rgba(0, 0, 0, 0.08);
    box-shadow: 0px 15px 45px rgba(0, 0, 0, 0.08);
}

.case_studie_box.box-5 .case_studie_content .link-arrow,
.case_studie_box.box-4 .case_studie_content .link-arrow {
    width: 100px;
    height: 100px;
    line-height: 100px;

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}



.case_studie_box.box-3 .case_studie_content {
    position: absolute;
    left: 32px;
    bottom: 0px;
    width: calc(100% - 64px);
    border-radius: 5px;
    padding: 24px;
    background-color: rgb(var(--white-color));
    opacity: 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.case_studie_box.box-3:hover .case_studie_content {
    opacity: 1;
    bottom: 32px;
}

.case_studie_box.box-3 .case_studie_content .title {
    font-size: 24px;
}

.case_studie_box.box-4 .case_studie_content {
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 100%;
    height: 100%;
    padding: 40px;
    z-index: 2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    opacity: 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(var(--primary-color), 0)), color-stop(90.82%, rgba(var(--primary-color), 1)));
    background: linear-gradient(180deg, rgba(var(--primary-color), 0) 0%, rgba(var(--primary-color), 1) 90.82%);
}

.case_studie_box.box-4:hover .case_studie_content {
    opacity: 1;
    bottom: 0;
}

.case_studie_box.box-4 .case_studie_content .cats {
    background: rgb(var(--white-color));
    display: inline-block;
    padding: 6px 16px;
    border-radius: 5px;
    margin-bottom: 12px;
}

.case_studie_box.box-4 .case_studie_content .cats a {
    color: rgb(var(--primary-color));
}

.case_studie_box.box-4 .case_studie_content .title {
    background: rgb(var(--white-color));
    display: inline-block;
    padding: 8px 20px;
    border-radius: 5px;
    font-size: 24px;
}

.case_studie_box.box-4 .case_studie_content .w-100 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}

/*----- Slider-Control-CSS -----*/
.swiper-navigation .swiper-arrow {
    position: absolute;
    top: calc(50% - 25px);
    width: 50px;
    height: 50px;
    background-color: rgb(var(--white-color));
    z-index: 2;
    text-align: center;
    line-height: 50px;
    border-radius: 100px;
    color: rgb(var(--heading-color));
    -webkit-transition: 0.3s;
    transition: 0.3s;
    opacity: 0;
}

.swiper-navigation .swiper-arrow.swiper-prev {
    left: 0px;
}

.swiper-navigation .swiper-arrow.swiper-next {
    right: 0px;
}

.swiper-container:hover .swiper-navigation .swiper-arrow.swiper-prev {
    left: 30px;
    opacity: 1;
}

.swiper-container:hover .swiper-navigation .swiper-arrow.swiper-next {
    right: 30px;
    opacity: 1;
}

.swiper-navigation .swiper-arrow:hover {
    color: rgb(var(--white-color));
    background-color: rgb(var(--primary-color));
}

/*-- Post-Box --*/
.top-meta-list {
    margin: 24px 0 12px -24px;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.top-meta-list li {
    display: flex;
    align-items: center;
    margin-left: 24px;
    color: #6E6E78;
}

.top-meta-list a {
    color: #6E6E78;
}

.top-meta-list .icon {
    color: rgb(var(--primary-color));
    width: 18px;
    line-height: 0;
    margin-right: 8px;
}

.top-meta-list a:hover {
    color: rgb(var(--primary-color));
}

.post-addons-box .title {
    margin-bottom: 0;
}

.post-box.box-2 .title {
    font-size: 28px;
}

.post-box.box-6 .title {
    margin-bottom: 24px;
}

.read-more-link {
    font-weight: 700;
    color: rgb(var(--heading-color));
    padding-bottom: 3px;
    display: inline-block;
    margin-top: 12px;
    position: relative;
    z-index: 1;
}

.read-more-link:hover {
    color: rgb(var(--primary-color));
}

.read-more-link:before {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    width: 0%;
    height: 2px;
    background-color: currentColor;
    display: block;
    transition: 0.3s all ease-in-out;
    border-radius: 5px;
}

.read-more-link:hover:before {
    width: 100%;
    right: auto;
    left: 0;
}

.post-box.box-2 .top-meta-list {
    margin: 24px 0 16px -24px;
}

.post-box.overlay {
    position: relative;
}

.post-box.overlay .content {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgb(17, 17, 17);
    background: linear-gradient(180deg, rgba(17, 17, 17, 0) 0%, rgba(17, 17, 17, 0.6) 100%);
    z-index: 2;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    flex-direction: column;
    padding: 40px;
}

.post-box.overlay .content:before {
    content: '';
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: rgb(17, 17, 17);
    background: linear-gradient(180deg, rgba(17, 17, 17, 0) 0%, rgba(17, 17, 17, 1) 100%);
    transition: 0.3s;
    opacity: 0;
}

.post-box.overlay:hover .content:before {
    top: 0;
    opacity: 1;
}

.post-box.overlay .content .date-info {
    margin-bottom: auto;
    padding: 5px 15px;
    background-color: #ffffff;
    border-radius: 4px;
    color: #6E6E78;
    opacity: 0;
    transform: translateY(-20px);
    transition: 0.3s;
}

.post-box.overlay:hover .content .date-info {
    opacity: 1;
    transform: translateY(0);
}

.post-box.overlay .content .date-info a {
    color: #6E6E78;
}

.post-box.overlay .content .date-info a:hover {
    color: rgb(var(--primary-color));
}

.post-box.overlay .content .top-meta-list a {
    color: #ebebeb;
}

.post-box.overlay .content .top-meta-list a:hover {
    color: rgb(var(--primary-color));
}

.post-box.overlay .title a {
    color: #ffffff;
}

.post-box.overlay .title:hover a {
    color: rgb(var(--primary-color));
}

.gallery-item {
    overflow: hidden;
}

.post-box .post-media img {
    transform: scale(1) rotate(0deg);
    transition: 0.3s;
}

.post-box:hover .post-media img {
    transform: scale(1.1) rotate(-3deg);
}

.post-box.box-4 {
    display: flex;
    align-items: center;
}

.post-box.box-4 .post-media {
    min-width: 230px;
    max-width: 230px;
}

.post-box.box-4 .content {
    padding: 30px !important;
}

.post-box.box-4 .post-media {
    margin: 0 24px 0 0 !important;
}

.post-box.box-4 .top-meta-list {
    margin-top: 0;
}

.post-box.box-5 .content {
    padding: 24px !important;
}

.post-box.box-5 .top-meta-list {
    margin-top: 0;
}

.post-box.box-5 .read-more-button {
    margin-top: 24px;
}

/*-- Price-Box --*/
.price-box {
    padding: 40px;
    border-radius: 5px;
    overflow: hidden;
    background-color: rgb(var(--gray-color));
}

.price-box .price-title {
    font-family: var(--heading-font-family);
    font-size: calc(var(--body-font-size) * 1.4);
    margin-bottom: 16px;
}

.price-box .price-rate {
    font-size: 48px;
    line-height: 1.2em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    margin: 0px;
}

.price-box .price-rate .amount {
    font-weight: 800;
}

.price-box .preiod {
    margin: 0 0 8px 5px;
    color: rgb(var(--heading-color));
}

.price-box .feature-list {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: calc(var(--body-font-size) - 4px);
    text-align: left;
}

.price-box .feature-list li {
    margin-bottom: 16px;
}

.price-box .feature-list li.off {
    opacity: 0.5;
}

.price-box .feature-list .icon {
    margin-right: 15px;
}

.price-box .price-footer {
    margin-top: 50px;
}

.price-box .price-amount {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    text-align: left;
    margin-bottom: 16px;
}

/*-- Section-Heading --*/
.folioedgecore-section-heading .top-heading {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.elementor-accordion .elementor-tab-title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
}

.elementor-accordion .elementor-tab-title.right {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.elementor-accordion .elementor-tab-title .elementor-accordion-icon-right {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
}

.folioedgecore-arrow-nav {
    margin: -10px;
}

.folioedgecore-arrow-nav .nav-link {
    border: 1px solid rgb(var(--primary-color));
    background-color: rgb(var(--white-color));
    border-radius: 100px;
    width: 40px;
    height: 40px;
    padding: 0;
    color: rgb(var(--primary-color));
    margin: 10px;
}

.folioedgecore-arrow-nav .nav-link:hover {
    background-color: rgb(var(--primary-color));
    color: rgb(var(--white-color));
}


/*--- Testimonial-Slider ---*/
.testimonial-box .feed-rating {
    display: inline-block;
    position: relative;
    color: #FDB12E;
}

.testimonial-box .feed-rating .star {
    font-family: 'Font Awesome 5 Pro';
    letter-spacing: 3px;
}

.testimonial-box .feed-rating .star.front:before {
    content: "\f005 \f005 \f005 \f005 \f005";
    font-weight: 400;
}

.testimonial-box .feed-rating .star.back:before {
    content: "\f005 \f005 \f005 \f005 \f005";
    font-weight: 900;
}

.testimonial-box .feed-rating .back {
    position: absolute;
    left: 0;
    top: 0;
    white-space: nowrap;
    overflow: hidden;
}

.testimonial-box.s5,
.testimonial-box.s1 {
    padding: 40px;
    background-color: #ffffff;
    border-radius: 5px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.testimonial-box.s5 {
    background-color: #f7f7f7;
    -webkit-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
}

.testimonial-box.s1:hover {
    background-color: #3cc3a3;
    color: #ffffff;
}

.testimonial-box.s5:hover {
    background-color: #ffffff;
    -webkit-box-shadow: 0px 15px 45px rgba(0, 0, 0, 0.08);
    box-shadow: 0px 15px 45px rgba(0, 0, 0, 0.08);
}

.testimonial-box.s1 * {
    -webkit-transition: 0.1s;
    transition: 0.1s;
}

.testimonial-box.s1:hover * {
    color: #ffffff !important;
}

.testimonial-box.s5 .feed-rating,
.testimonial-box.s1 .feed-rating {
    margin-bottom: 16px;
}

.testimonial-box.s5 .desc,
.testimonial-box.s1 .desc {
    margin-bottom: 24px;
}

.testimonial-box.s5 .footer,
.testimonial-box.s1 .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.testimonial-box.s5 .client-name,
.testimonial-box.s1 .client-name {
    margin-bottom: 0px;
}

.testimonial-box.s5 .photo,
.testimonial-box.s1 .photo {
    margin-right: 16px;
}

.testimonial-box.s2 {
    background-color: rgb(var(--gray-color));
    padding: 64px 40px 40px 40px;
    border-radius: 5px;
    text-align: center;
    position: relative;
    margin-top: 40px;
    -webkit-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
}

.testimonial-box.s2:hover {
    background-color: #ffffff;
    -webkit-box-shadow: 0px 15px 45px rgba(0, 0, 0, 0.08);
    box-shadow: 0px 15px 45px rgba(0, 0, 0, 0.08);
}

.testimonial-box.s2 .thumb {
    position: absolute;
    left: 0;
    top: -40px;
    width: 100%;
}

.testimonial-box.s2 .photo {
    width: 80px;
    height: 80px;
    border-radius: 80px;
    overflow: hidden;
    display: inline-block;
}

.testimonial-box.s2 .photo img {
    width: 100%;
}

.testimonial-box.s2 .feed-rating {
    margin-bottom: 24px;
}

.testimonial-box.s2 .desc {
    margin-bottom: 24px;
}

.testimonial-box.s2 .client-name {
    margin-bottom: 4px;
}


.testimonial-box.s3 {
    text-align: center;
}

.testimonial-box.s3 .desc {
    margin-bottom: 46px;
    font-family: var(--heading-font-family);
    font-size: 28px;
    font-weight: 400;
    line-height: 1.5em;
}

.testimonial-box.s3 .client-name {
    margin-bottom: 4px;
    font-family: var(--heading-font-family);
    font-size: 24px;
    font-weight: 600;
}

.testimonial-box.s4 {
    padding: 40px;
    background-color: #F7F7F7;
    border-radius: 5px;
    position: relative;
}

.testimonial-box.s4 .quote {
    float: right;
    width: 60px;
    margin-top: 10px;
}

.testimonial-box.s4 .header-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 40px;
}

.testimonial-box.s4 .header-info .photo {
    width: 80px;
    height: 80px;
    overflow: hidden;
    border-radius: 100px;
    margin-right: 20px;
}

.testimonial-box.s4 .header-info .client-name {
    margin-bottom: 0;
}

.testimonial-box.s4 .client-logo {
    margin-top: 40px;
}

/*--- Accordion-Style ---*/
.accordion-list .accoridon-item {
    width: 100%;
    margin-bottom: 30px;
}

.accordion-list .accoridon-item:last-child {
    margin-bottom: 0px;
}

.accordion-list .accoridon-item .title {
    font-weight: 600;
    font-size: 36px;
    cursor: pointer;
    margin-bottom: 0px;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    line-height: 1.4em;
}

.accordion-list .accoridon-item .title .icon {
    margin-left: auto;
    padding-left: 24px;
}

.accordion-list .accoridon-item .title .icon-opened {
    display: none;
}

.accordion-list .accoridon-item .title.active .icon-opened {
    display: inline-block;
}

.accordion-list .accoridon-item .title .icon-closed {
    display: inline-block;
}

.accordion-list .accoridon-item .title.active .icon-closed {
    display: none;
}

.accordion-list .accoridon-item .desc {
    padding-top: 15px;
}

.accordion-list .accoridon-item:not(.active) .desc {
    display: none;
}

/*-- Slide-Box --*/

/*------------------------
 07. Double-Part-Box-Start 
 ------------------------*/
.double-part-box {
    position: relative;
    display: block;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-perspective: 1000px;
    perspective: 1000px;
    width: 100%;
}

.double-part-box .front-part,
.double-part-box .back-part {
    background-color: #1C1F2A;
    -webkit-transition: -webkit-transform 0.7s cubic-bezier(.4, .2, .2, 1), -webkit-transform 0.7s cubic-bezier(.4, .2, .2, 1);
    transition: -webkit-transform 0.7s cubic-bezier(.4, .2, .2, 1), -webkit-transform 0.7s cubic-bezier(.4, .2, .2, 1);
    transition: transform 0.7s cubic-bezier(.4, .2, .2, 1), transform 0.7s cubic-bezier(.4, .2, .2, 1);
    transition: transform 0.7s cubic-bezier(.4, .2, .2, 1), transform 0.7s cubic-bezier(.4, .2, .2, 1), -webkit-transform 0.7s cubic-bezier(.4, .2, .2, 1), -webkit-transform 0.7s cubic-bezier(.4, .2, .2, 1);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    width: 100%;
    min-height: 345px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 5px;
}

.double-part-box .front-part:before,
.double-part-box .back-part:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.double-part-box .front-part {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
}

.double-part-box:hover .front-part {
    -webkit-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
}

.double-part-box .back-part {
    position: absolute;
    left: 0;
    top: 0;
    background-color: #1C1F2A;
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
    display: block;
}

.double-part-box:hover .back-part {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
}

.double-part-box .back-part .content {
    position: absolute;
    left: 0;
    top: 50%;
    padding: 30px;
    width: 100%;
    -webkit-transform: translateY(-50%) translateZ(50px) scale(.95);
    transform: translateY(-50%) translateZ(50px) scale(.95);
}

.double-part-box .front-part .content {
    position: absolute;
    left: 0;
    top: 50%;
    padding: 30px;
    width: 100%;
    -webkit-transform: translateY(-50%) translateZ(50px) scale(.94);
    transform: translateY(-50%) translateZ(50px) scale(.94);
}

.double-part-box .content .slide-icon {
    text-align: center;
}

/*-- Team-Box --*/

.team-box .photo {
    min-height: 200px;
    overflow: hidden;
    border-radius: 5px;
    background-color: #e7e7e7;
}

.team-box.style1 {
    position: relative;
    z-index: 1;
    overflow: hidden;
    border-radius: 5px;
}

.team-box.style1 .team_content {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    text-align: left;
    padding: 30px;
    z-index: 2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.team-box.style1 .team_content:after,
.team-box.style1 .team_content:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.team-box.style1 .team_content:after {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(44.89%, rgba(17, 17, 17, 0)), to(#111111));
    background: linear-gradient(180deg, rgba(17, 17, 17, 0) 44.89%, #111111 100%);
    opacity: 1;
}

.team-box.style1:hover .team_content:after {
    opacity: 0;
}

.team-box.style1 .team_content:before {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(17, 17, 17, 0)), to(#111111));
    background: linear-gradient(180deg, rgba(17, 17, 17, 0) 0%, #111111 100%);
    opacity: 0;
}

.team-box.style1:hover .team_content:before {
    opacity: 1;
}



.team-box.style1 .team_content .team-name {
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 8px;
}

.team-box.style1 .team_content .team-name a {
    color: rgb(var(--white-color));
}

.team-box.style1 .team_content .position {
    color: rgb(var(--white-color));
}

.social-menu li a {
    display: block;
    width: 40px;
    height: 40px;
    line-height: 38px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 100px;
    text-align: center;
    color: rgba(255, 255, 255, 0.7);
    font-size: 14px;
    margin: 8px;
}

.team-box.style1 .social-menu {
    margin: -8px;
    list-style: none;
    padding: 0;
}

.social-menu li a:hover {
    background-color: rgb(var(--primary-color));
    color: #ffffff;
    border-color: rgb(var(--primary-color));
}

.social-menu li a .svg-icon {
    width: 14px;
    height: 18px;
}

.team-box.style1 .team_content .social-menu {
    padding: 24px 0 0 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    opacity: 0;
    margin-bottom: -80px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.team-box.style1:hover .team_content .social-menu {
    margin-bottom: -8px;
    opacity: 1;
}

.team-box.style2 {
    position: relative;
    z-index: 1;
    background-color: #F7F7F7;
    border-radius: 5px;
    overflow: hidden;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.team-box.style2:hover {
    background-color: rgb(var(--primary-color));
}

.team-box.style2 .team_content {
    text-align: left;
    padding: 24px 32px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
}

.team-box.style2 .toggle-social .svg-icon {
    width: 20px;
    height: 20px;
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.team-box.style2 .toggle-social.collapsed .svg-icon {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
}

.team-box.style2 .toggle-social {
    line-height: 0;
    width: 48px;
    height: 48px;
    border-radius: 5px;
    background-color: #ffffff;
    color: rgb(var(--heading-color));
    border: none;
}

.team-box.style2 .photo {
    position: relative;
}

.team-box.style2 .photo .social-collapse {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 1;
    width: 100%;
}

.team-box.style2 .photo .social-collapse .social-menu {
    list-style: none;
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 200px 30px 30px 30px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(17, 17, 17, 0)), to(#111111));
    background: linear-gradient(180deg, rgba(17, 17, 17, 0) 0%, #111111 100%);
}

.team-box.style2 .photo .social-collapse .social-menu a {
    border-radius: 3px;
    color: #fff;
}

.team-box.style2 .team-name {
    margin-bottom: 8px;
}

.team-box.style2 .team-name a {
    color: rgb(var(--heading-color));
}

.team-box.style2:hover .team-name a {
    color: rgb(var(--white-color));
}

.team-box.style2 .position {
    color: rgb(var(--text-color));
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.team-box.style2:hover .position {
    color: rgb(var(--white-color));
}


/*-- Icon-Box --*/
.feature-box {
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.feature-box:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.feature-box .box-content {
    width: 100%;
}

.feature-box .feature-icon {
    text-align: center;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.agent-popup {
    position: absolute !important;
    bottom: -92px;
    left: -130px;
    width: 474px !important;
}

/*--- Range-Slider ---*/
.slider_range .slider .ui-slider-handle span {
    position: absolute;
    bottom: 40px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    min-width: 50px;
    text-align: center;
    background: #343E61;
    color: #ffffff;
    border-radius: 8px;
    padding: 6px 10px;
    font-size: 16px;
    font-family: var(--body-font-family);
}

.slider_range .slider .ui-slider-handle span:before {
    content: url('../images/arrow-shape.svg');
    position: absolute;
    left: 50%;
    top: 100%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    line-height: 0;
}

.slider_range .slider {
    border: none;
    background-color: rgb(var(--gray-bg));
    border-radius: 100px;
    height: 10px;
}

.slider_range .slider .ui-slider-range {
    background-color: rgb(var(--secondary-color));
    border-radius: 100px;
}

.slider_range .slider .ui-slider-handle {
    border-radius: 100px;
    background-color: rgb(var(--secondary-color));
    border: 6px solid #ffffff;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    -webkit-box-shadow: 0px 10.5714px 42.2857px rgba(204, 204, 204, 0.8);
    box-shadow: 0px 10.5714px 42.2857px rgba(204, 204, 204, 0.8);
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
}

/*--- Lightbox ---*/
.folioedge-play-button .play-button {
    position: relative;
    z-index: 1;
    display: inline-block;
}

.folioedge-play-button .play-button .waves-block {
    z-index: -1;
}

/*-- Tab-Menu-Style --*/
.tab-content>.active {
    opacity: 1 !important;
}

.folioedge-tab-nav {
    margin: -8px;
    padding: 0;
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.folioedge-tab-nav li a {
    background-color: #ffffff;
    padding: 15px 30px;
    text-transform: uppercase;
    font-weight: 700;
    color: #10131F;
    border-radius: 5px;
    margin: 8px;
    display: block;
    text-align: center;
}

.folioedge-tab-nav li.active a,
.folioedge-tab-nav li a:hover {
    background-color: #3CC3A3;
    color: #ffffff;
}

.folioedge-tab-content>ul {
    list-style: none;
    padding: 10px 0 0 0;
    margin: 0;
}

.folioedge-tab-content>ul li {
    padding-left: 30px;
    position: relative;
    margin-bottom: 16px;
    color: #10131F;
}

.folioedge-tab-content>ul li:last-child {
    margin-bottom: 0;
}

.folioedge-tab-content>ul li:before {
    content: "\f00c";
    font-family: "Font Awesome 5 Pro";
    background-color: #3cc3a3;
    color: #ffffff;
    width: 20px;
    height: 20px;
    line-height: 20px;
    border-radius: 100px;
    display: inline-block;
    text-align: center;
    font-size: 10px;
    position: absolute;
    left: 0;
    top: 4px;
}

/*-- Circle-Progress-Style --*/
.cirlce-progress {
    position: relative;
    z-index: 1;
    display: inline-block;
    line-height: 0;
}

.cirlce-progress .percent {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    margin: 0;
    color: rgb(var(--secondary-color));
}

.swiper-pagination {
    position: static !important;
    margin-top: 30px;
}

.swiper-pagination-bullets .swiper-pagination-bullet {
    width: 8px;
    height: 8px;
    margin: 10px;
    position: relative;
    background-color: rgba(var(--primary-color), 0.5);
    opacity: 1;
}

.swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
    background-color: rgba(var(--primary-color), 1);
}

.swiper-pagination .swiper-pagination-bullet svg {
    position: absolute;
    left: calc(50% + 2px);
    top: calc(50% + 2px);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 26px;
    height: 26px;
}

.swiper-pagination svg circle {
    fill: none;
    stroke: rgba(var(--primary-color), 1);
    stroke-width: 2;
    stroke-linecap: round;
    stroke-dasharray: 125;
    stroke-dashoffset: 125;
}

.swiper-pagination-bullet-active svg circle {
    -webkit-animation: slide-progress linear forwards;
    animation: slide-progress linear forwards;
}

@-webkit-keyframes slide-progress {
    0% {
        stroke-dashoffset: 125;
    }

    100% {
        stroke-dashoffset: 63;
    }
}

@keyframes slide-progress {
    0% {
        stroke-dashoffset: 125;
    }

    100% {
        stroke-dashoffset: 63;
    }
}

.leaflet-popup-content-wrapper {
    padding: 20px !important;
    border-radius: 10px !important;
    -webkit-box-shadow: 0 10px 24px 0 rgba(0, 0, 0, 0.2) !important;
    box-shadow: 0 10px 24px 0 rgba(0, 0, 0, 0.2) !important;
}

.leaflet-popup-content {
    margin: 0 !important;
    min-width: 150px;
}


.folioedgecore-countdown {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.folioedgecore-countdown .folioedge-count {
    display: inline-block;
    position: relative;
    margin: 0 22px;
    line-height: 1;
}


.folioedgecore-countdown .folioedge-count .time-count {
    display: block;
}

.folioedge-counter .counter-icon {
    text-align: center;
}


/*-- Road-Map-Style --*/
.roadmap-list {
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    z-index: 1;
}

.roadmap-list:after {
    content: "";
    width: 2px;
    height: 100%;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(247, 223, 222, 0)), color-stop(10.86%, rgba(247, 223, 222, 0.200797)), color-stop(52.08%, #F7DFDE), color-stop(89.54%, rgba(247, 223, 222, 0.226572)), to(rgba(247, 223, 222, 0)));
    background: linear-gradient(180deg, rgba(247, 223, 222, 0) 0%, rgba(247, 223, 222, 0.200797) 10.86%, #F7DFDE 52.08%, rgba(247, 223, 222, 0.226572) 89.54%, rgba(247, 223, 222, 0) 100%);
    position: absolute;
    left: calc(50% - 1px);
    top: 0;
    display: block;
}

.roadmap-list li {
    margin: 25px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    position: relative;
}

.roadmap-list li:after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    width: 30px;
    height: 30px;
    border-radius: 100px;
    background-color: rgb(var(--primary-color));
    display: block;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 1;
}

.roadmap-list li:first-child {
    margin-top: 0;
}

.roadmap-list li:last-child {
    margin-bottom: 0;
}

.roadmap-list li:nth-child(even) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
}

.roadmap-list li .mapbox {
    background-color: #ffffff;
    padding: 40px;
    border-radius: 5px;
    border-right: 3px solid rgb(var(--primary-color));
    width: 470px;
    max-width: calc(50% - 60px);
}

.roadmap-list li .mapbox .mapcontent {
    color: #6E6E78;
}

.roadmap-list li .mapyear {
    width: 50%;
    margin: 0;
    text-align: center;
    font-size: 96px;
    -webkit-text-stroke: 2px rgba(241, 85, 76, 0.2);
    -webkit-text-fill-color: transparent;
}

/*-- Progress-Bar-Style --*/

.elementor-widget-progress .progress-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    font-weight: 500;
    color: rgb(var(--text-color));
    margin-bottom: 10px;
}

.elementor-widget-progress .folioedge-progress-wrapper {
    background-color: #E7E6E3;
    border-radius: 5px;
    overflow: hidden;
}

/*-- Expreriunce --*/
.experience-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.experience-box .left-side {
    width: 27%;
}

.experience-box .circle {
    width: 13%;
    position: relative;
    min-height: 100%;
}

.experience-box .right-side {
    width: 60%;
    padding-bottom: 72px;
}

.experience-box:last-child .right-side {
    padding-bottom: 0;
}

.experience-box .circle:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 62px;
    height: 62px;
    border-radius: 100px;
    border: 1px dashed rgba(16, 19, 31, 0.2);
}

.experience-box .circle:after {
    content: "";
    position: absolute;
    left: 31px;
    bottom: 0;
    width: 0;
    height: calc(100% - 64px);
    border-right: 1px dashed rgba(16, 19, 31, 0.2);
}

.experience-box:last-child .circle:after {
    display: none;
}

.experience-box .institute,
.experience-box .title {
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 10px;
}

.experience-box .circle span {
    width: 24px;
    height: 24px;
    display: block;
    border-radius: 100px;
    background-color: #ededed;
    margin: 19px;
}

.button-text {
    width: 100%;
}

/* -- Switch-Style-CSS -- */
.folioedge-switches {
    display: flex;
    align-items: center;
    justify-content: center;
}

.folioedge-switches button {
    border: none;
    background: none;
    margin: 0;
    padding: 0;
}

.folioedge-switches .swtich-toggle {
    width: 80px;
    height: 40px;
    background-color: #E2F6F1;
    border-radius: 100px;
    margin: 0 16px;
    position: relative;
    z-index: 1;
}

.folioedge-switches .swtich-toggle .circle {
    position: absolute;
    left: 0;
    top: 0;
    width: 30px;
    height: 30px;
    background-color: #3CC3A3;
    display: block;
    border-radius: 100px;
    margin: 5px;
    transition: 0.3s all ease-in-out;
}

.folioedge-switches.right .swtich-toggle .circle {
    left: 40px;
}

.switch-contents .right-content {
    display: none;
}

@media screen and (max-width: 1200px) {
    .experience-box .left-side {
        width: 30%;
    }

    .experience-box .circle {
        width: 10%;
    }

    .post-box.box-4 {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .post-box.box-4 .post-media {
        margin: 0 !important;
        width: 100%;
        max-width: 100%;
    }
}

@media screen and (max-width: 992px) {

    .experience-box .institute,
    .experience-box .title {
        font-size: 22px;
    }
}

@media screen and (max-width: 768px) {
    .experience-box {
        padding-left: 100px;
        position: relative;
    }

    .experience-box .circle {
        position: absolute;
        left: 0;
        top: 0;
        width: 100px;
        height: 100%;
    }

    .experience-box .left-side {
        margin-bottom: 24px;
    }

    .experience-box .left-side,
    .experience-box .right-side {
        width: 100%;
    }

    .slider_arrows .slider_arrow {
        width: 60px;
        height: 60px;
        line-height: 60px;
    }

    .roadmap-list li .mapbox {
        max-width: calc(100% - 80px);
        width: 100%;
        padding: 30px;
    }

    .roadmap-list li .mapyear {
        position: absolute;
        right: 30px;
        top: 50%;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        font-size: 40px;
        width: 40px;
        line-height: 40px;
    }

    .roadmap-list li:nth-child(even) .mapyear {
        right: auto;
        left: 30px;
    }

    .roadmap-list li:after {
        left: calc(100% - 10px);
        width: 20px;
        height: 20px;
    }

    .roadmap-list li:nth-child(even):after {
        left: 10px;
    }

    .roadmap-list:after {
        display: none;
    }
}