.codexse-info-box {
    background-color: #FAFAFA;
    padding: 32px;
    box-shadow: 0 0 0 0 #E9E9E9;
    transition: .3s;
    border: 1px solid #ededed;
}


.codexse-info-box .box-icon {
    width: 64px;
    min-width: 64px;
    height: 64px;
    font-size: 24px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: var(--accent-color);
    color: var(--white-color);
    border-radius: 99px;
    margin-bottom: 24px;
    transition: .3s;
    padding: 15px;
}

.codexse-info-box:hover .box-icon {
    color: var(--white-color);
    background-color: var(--accent-color);
}

.codexse-info-box .box-title {
    font-size: 24px;
    margin-bottom: 12px;
}

.codexse-info-box.media-direction-left {
    display: flex;
    gap: 24px;
}

.codexse-info-box.media-direction-left .box-icon {
    margin-bottom: 0;
}

.codexse-info-box.media-direction-left.media-align-center {
    align-items: center;
}

.codexse-info-box.media-direction-left.media-align-bottom {
    align-items: flex-end;
}