
.codexse-mobile-menu-wrapper .mobile-toggle-button {
    border: none;
    background: none;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    line-height: 0em;
    padding: 5px;
}

.codexse-mobile-menu-wrapper .mobile-toggle-button * {
    line-height: 1em;
}

.codexse-mobile-menu-wrapper .mobile-toggle-button.button-round:not(.button-clean) {
    border-radius: 5px;
}

.codexse-mobile-menu-wrapper .mobile-toggle-button.button-rounded:not(.button-clean) {
    border-radius: 999px;
}

.codexse-mobile-menu-wrapper .mobile-toggle-button.button-rectangle:not(.button-clean) {
    border-radius: 0px;
}

.codexse-mobile-menu-wrapper .mobile-toggle-button.button-small:not(.button-clean) {
    width: 30px;
    height: 30px;
    font-size: 14px;
}

.codexse-mobile-menu-wrapper .mobile-toggle-button.button-medium:not(.button-clean) {
    width: 40px;
    height: 40px;
    font-size: 16px;
}

.codexse-mobile-menu-wrapper .mobile-toggle-button.button-large:not(.button-clean) {
    width: 50px;
    height: 50px;
    font-size: 18px;
}

.codexse-mobile-menu-wrapper .mobile-toggle-button.button-extra_large:not(.button-clean) {
    width: 60px;
    height: 60px;
    font-size: 20px;
}

.codexse-mobile-menu-wrapper .mobile-toggle-button.button-flat {
    background-color: rgb(var(--accent-color));
    box-shadow: inset 0 0 0 0 rgba(var(--text-color),0);
    color: white;
}

.codexse-mobile-menu-wrapper .mobile-toggle-button.button-flat:hover {
    background-color: rgb(var(--accent-color));
    box-shadow: inset 0 0 10px 50px rgba(var(--text-color),.1);
    color: white;
}

.codexse-mobile-menu-wrapper .mobile-toggle-button.button-border {
    background-color: transparent;
    border: 1px solid rgb(var(--accent-color));
    color: rgb(var(--accent-color));
}

.codexse-mobile-menu-wrapper .mobile-toggle-button.button-border:hover {
    background-color: rgb(var(--accent-color));
    border-color: rgb(var(--accent-color));
    color: white;
}

.codexse-mobile-menu-wrapper .codexse-mobile-menu {
    position: fixed;
    right: 0;
    top: 0;
    width: 350px;
    max-width: 90%;
    background-color: white;
    z-index: 999;
    height: 100vh;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.codexse-mobile-menu-wrapper.menu-full .codexse-mobile-menu {
    justify-content: space-between;
}

.admin-bar .codexse-mobile-menu-wrapper .codexse-mobile-menu {
    top: 33px;
    height: calc(100vh - 33px);
}

.codexse-mobile-menu-wrapper .codexse-mobile-menu .close-button-wrapper {
    text-align: right;
    height: 50px;
}

.codexse-mobile-menu-wrapper.menu-right .codexse-mobile-menu {
    transform: translateX(100%);
    transition: 0.3s;
    border-left: 1px solid #ededed;
}

.codexse-mobile-menu-wrapper.menu-right .codexse-mobile-menu.menu-open {
    transform: translateX(0%);
}

.codexse-mobile-menu-wrapper.menu-left .codexse-mobile-menu {
    right: auto;
    left: 0px;
    transform: translateX(-100%);
    transition: 0.3s;
    border-right: 1px solid #ededed;
}

.codexse-mobile-menu-wrapper.menu-left .codexse-mobile-menu.menu-open {
    transform: translateX(0%);
}

.codexse-mobile-menu ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.codexse-mobile-menu-wrapper .codexse-mobile-menu-items .collapse-arrow {
    border: none;
    margin: 2px 0 0 0;
    padding: 0;
    background: none;
    line-height: 1em;
    margin-left: auto;
    font-size: 1.2em;
}

.codexse-mobile-menu-wrapper .codexse-mobile-menu-items li {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 10px;
    padding-top: 10px;
}

.codexse-mobile-menu-wrapper .codexse-mobile-menu-items > li > a {
    font-size: 1.4em;
    font-weight: 700;
    width: calc(100% - 60px);
}

.codexse-mobile-menu-wrapper .codexse-mobile-menu-items li:hover > * {
    color: rgb(var(--accent-color));
}

.codexse-mobile-menu-wrapper .codexse-mobile-menu-items > li > ul {
    padding-top: 5px;
}

.codexse-mobile-menu-wrapper .codexse-mobile-menu-items > li ul {
    width: 100%;
    display: none;
    padding-left: 20px;
}
.codexse-mobile-menu-wrapper .codexse-mobile-menu-items > li li {
    padding-bottom: 0px;
}

.codexse-mobile-menu-wrapper.menu-full {
    padding: 32px;
}

.codexse-mobile-menu-wrapper.menu-full .codexse-mobile-menu {
    width: 100%;
    max-width: 100%;
    opacity: 0;
    visibility: hidden;
    transition: .3s linear;
}

.codexse-mobile-menu-wrapper.menu-full .codexse-mobile-menu.menu-open {
    opacity: 1;
    visibility: visible;
}

.codexse-mobile-menu-wrapper.menu-full .codexse-mobile-menu .codexse-mobile-menu-items {
    max-height: calc(100vh - 100px);
    overflow: auto;
}

.codexse-mobile-menu-wrapper .codexse-mobile-menu .codexse-social-links {
    height: 50px;
}

.codexse-mobile-menu-wrapper.menu-full .codexse-mobile-menu .codexse-social-links {
    text-align: center;
}

.codexse-mobile-menu-wrapper:not(.menu-full) .codexse-mobile-menu .codexse-social-links {
    margin-top: auto;
}

.codexse-mobile-menu-wrapper .codexse-mobile-menu .codexse-social-links a {
    width: 32px;
    height: 32px;
    line-height: 30px;
    border: 1px solid rgb(var(--text-color), .1);
    color: rgb(var(--text-color));
    text-align: center;
    margin: 4px;
    border-radius: 99px;
    display: inline-block;
}
.codexse-mobile-menu-wrapper .codexse-mobile-menu .codexse-social-links a:hover {
    border-color: rgb(var(--text-color));
    background-color: rgb(var(--text-color));
    color: white;
}

.codexse-mobile-menu-wrapper.menu-full .codexse-mobile-menu-items li {
    position: relative;
}

.codexse-mobile-menu-wrapper.menu-full .codexse-mobile-menu-items li li {
    padding-top: 0px;
}

.codexse-mobile-menu-wrapper.menu-full .codexse-mobile-menu-items li .collapse-arrow {
    position: absolute;
    right: 0;
    top: 5px;
}

.codexse-mobile-menu-wrapper.menu-full .codexse-mobile-menu-items li a {
    width: 100%;
    text-align: center;
}

.codexse-mobile-menu-wrapper.menu-full .codexse-mobile-menu-items li ul {
    padding-left: 0;
}