.codexse-hero-slider .swiper-slide {
    position: relative;
    z-index: 1;
}

.codexse-hero-slider .codexse-hero-slide-bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -5;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
}

.codexse-hero-slider .codexse-hero-slide-overlay {
    background-color: black;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    z-index: -4;
}

.codexse-hero-slider .codexse-hero-slide-content {
    max-width: var(--content-width);
    margin: auto;
    padding-top: 150px;
    padding-bottom: 150px;
    text-align: center;
}

.codexse-hero-slide-top-title {
    color: white;
    margin-bottom: 16px;
    font-size: 24px;
}

.codexse-hero-slide-main-title {
    font-size: 120px;
    color: white;
    line-height: 1em;
    margin-bottom: 12px;
}

.codexse-hero-slide-description {
    color: rgba(255,255,255,0.75);
    max-width: 750px;
    margin: auto auto 40px auto;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.6em;
}

.codexse-hero-slide-buttons {
    display: flex;
    justify-content: center;
    gap: 24px;
}

