.codexse-desktop-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.codexse-desktop-menu-items {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.codexse-desktop-menu-items li {
    position: relative;
}

.codexse-desktop-menu-items li li {
    border: 1px solid #f7f7f7;
    border-bottom: none;
}

.codexse-desktop-menu-items li li:last-child {
    border-bottom: 1px solid #f7f7f7;
}

.codexse-desktop-menu-items li ul {
    position: absolute;
    left: 0;
    top: 100%;
    min-width: 220px;
    opacity: 0;
    visibility: hidden;
    transition: .05s;
    text-align: left;
    background-color: white;
    z-index: 999;
}

.codexse-desktop-menu-items li:hover > ul {
    opacity: 1;
    visibility: visible;
    transition: .3s;
}

.codexse-desktop-menu-items li ul ul {
    left: 100%;
    top: 0px;
}

.codexse-desktop-menu-items li ul ul.submenu-left {
    left: auto;
    right: 100%;
}

.codexse-desktop-menu-items li a {
    padding: 9px 16px;
    display: block;
    font-weight: 500;
}

.codexse-desktop-menu-items li:hover > a {
    color: rgb(var(--accent-color));
}

.codexse-desktop-menu-items li.current-menu-item a {
    color: rgb(var(--accent-color));
}