.blog-box .blog-title {
    font-size: var(--h5-size);
}

.blog-box .blog-title a {
    display: inline-block;
}

.blog-box .blog-title {
    margin-bottom: 16px;
    line-height: 1em;
}

.blog-box a {
    color: black;
}

.blog-box a:hover {
    color: var(--accent-color);
}

.blog-box-one {
    height: 420px;
    width: 100%;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    padding: 30px;
    z-index: 1;
    overflow: hidden;
    transition: 0.5s;
    transform: scale(1) rotate(0deg);
}

.blog-box-one:hover {
    transform: scale(0.9) rotate(-2deg);
}

.blog-box.blog-box-one::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: black;
    opacity: 0.5;
}

.blog-box-one .blog-thumbnail {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: 0.5s;
    transform: scale(1) rotate(0deg);
}

.blog-box-one:hover .blog-thumbnail {
    transform: scale(1.2) rotate(6deg);
}

.blog-box-one .blog-overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: rgb(0, 0, 0, 0.2);
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 100%);
}

.blog-box .blog-category {
    background-color: var(--accent-color);
    color: white;
    font-weight: 400;
    font-size: 12px;
    padding: 8px 10px;
    letter-spacing: 1px;
    line-height: 1em;
    display: inline-block;
    text-transform: uppercase;
}

.blog-box .blog-category:hover {
    background-color: black;
    color: white;
}

.blog-box-one .blog-category {
    margin-bottom: 24px;
}

.blog-box-one .blog-title a {
    color: white;
    font-weight: 700;
    font-size: 1.1em;
    line-height: 1.2em;
    display: inline-block;
}

.blog-box-one .blog-title a:hover {
    color: var(--accent-color);
}

.blog-box .blog-meta {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    font-weight: 400;
    line-height: 1em;
}

.blog-box .blog-meta i {
    color: var(--accent-color);
}

.blog-box-one .blog-meta {
    color: white;
}

.blog-box-one .blog-meta li {
    display: flex;
    align-items: center;
    gap: 8px;
}


.blog-box-one .blog-meta li a {
    color: white;
}

.blog-box .blog-meta li a:hover {
    color: var(--accent-color);
}

.blog-box .blog-meta li:not(:last-child):after {
    content: " - ";
    display: inline-block;
    margin: 0 12px;
}

.blog-box-two .blog-content {
    padding-top: 24px;
}

.blog-box-two .blog-image {
    position: relative;
    line-height: 1em;
    overflow: hidden;
    border-radius: 12px;
}

.blog-box-two .blog-image .blog-category {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 2;
    background-color: var(--accent-color);
    display: none;
}

.blog-box-two .blog-image .blog-category:hover {
    background-color: var(--accent-color);
}

.blog-box-two .blog-meta li a {
    color: var(--primary-color);
}

.blog-box-two .blog-meta {
    margin-bottom: 16px;
    color: var(--primary-color);
}


.blog-box-three .blog-title {
    margin: 0px;
}

.blog-box-three .blog-title a {
    font-size: 16px;
}

.blog-box-three {
    display: flex;
    align-items: center;
}

.blog-box-three .blog-image {
    min-width: 100px;
    width: 100px;
    height: 70px;
    background-color: #ededed;
    background-repeat: no-repeat;
    background-size: cover;
}

.blog-box-three .blog-content {
    padding-left: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.blog-box-four .blog-content {
    padding-top: 32px;
}

.blog-box-four .blog-content .blog-title {
    margin-bottom: 12px;
}

.blog-box-five .blog-image {
    position: relative;
}

.blog-box-five .blog-image .count {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 2;
    background-color: var(--accent-color);
    width: 30px;
    height: 30px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.blog-box-five .blog-content {
    padding-top: 16px;
}

.blog-box-five .blog-content .blog-title {
    margin-bottom: 8px;
}

.blog-box-six {
    display: flex;
    align-items: center;
}

.blog-box-six .blog-image {
    width: 350px;
    min-width: 350px;
    padding-right: 17px;
}

.blog-box-six .blog-text {
    padding-top: 24px;
}

@media only screen and (max-width: 768px) {
    .blog-box-six {
        flex-direction: column;
    }
    
    .blog-box-six .blog-image {
        width: 100%;
        min-width: 100%;
        padding-right: 0px;
        padding-bottom: 16px;
    }
    
  }