.wp-core-ui .notice.is-dismissible {
    width: 100%;
}

#tgmpa-plugins .tablenav {
    height: auto !important;
    padding: 0;
}

.devider-title {
    margin: 16px 0px 10px 0px;
    font-size: 20px;
    display: flex;
    align-items: center;
    white-space: nowrap;
}

.devider-title::after {
    content: "";
    width: 100%;
    height: 1px;
    background-color: rgb(195 195 195);
    display: inline-block;
    margin-left: 8px;
    margin-top: 16px;
}

.customizer-select-image-control {
    display: flex;
    flex-wrap: wrap;
    margin: -5px;
}

.customizer-select-image-control label {
    width: calc(33.33% - 10px);
    min-height: 20px;
    margin: 5px;
    position: relative;
}

.customizer-select-image-control label input {
    position: absolute;
    left: 8px;
    top: 14px;
}