/*--------------------------
=======CSS Indexing=======
--------------------------
1. Reset-CSS
2. Input-Box-Style
3. Posts and pages
4. Comment-Style
5. Media-Style
6. Alignment-Style
7. WordPress-Post-Caption-Style
8. Text meant only for screen readers.
9. Post-Gallery-Style
----------------------------*/

/*----- Root-Value -----*/

@font-face {
    font-family: 'Ador';
    src: url('../fonts/ador-regular.ttf') format('truetype');
    font-weight: '400';
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Ador';
    src: url('../fonts/ador-semibold.ttf') format('truetype');
    font-weight: '600';
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Ador';
    src: url('../fonts/ador-bold.ttf') format('truetype');
    font-weight: '700';
    font-style: normal;
    font-display: swap;
}

:root {
    --accent-color: #228F99;
    --primary-color: #0e1317;
    --text-color: #696969;
    --white-color: #ffffff;
    --gray-color: #f2f8fb;
    --off-white-color: #fdfdfd;
    --light-gray-color: #e0e0e0;
    --border-color: #e9f0f0;
    --shadow-color: rgba(0, 0, 0, 0.1);
    --placeholder-color: #7B8EA3;
    --black-color: #000000;
    --transparent-color: transparent;

    --body-font-family: 'Noto Sans Bengali', 'Roboto', sans-serif;
    --heading-font-family: 'ador', 'Roboto', sans-serif;

    --body-font-size: 17px;
    --body-line-height: 1.6em;
    --heading-line-height: 1.4em;
    --normal-transition: 0.3s;
    --section-padding: clamp(40px, 10vw, 80px);
    --navbar-height: 80px;

    --navbar-sidebar-width: 350px;

	/* Responsive heading sizes (smaller scale) */
	--h1-size: clamp(2rem, 4vw + 0.5rem, 3rem);
	/* ~32px–48px */
	--h2-size: clamp(1.75rem, 3vw + 0.5rem, 2.375rem);
	/* ~28px–38px */
	--h3-size: clamp(1.5rem, 2.5vw + 0.5rem, 2rem);
	/* ~24px–32px */
	--h4-size: clamp(1.25rem, 2vw + 0.5rem, 1.625rem);
	/* ~20px–26px */
	--h5-size: clamp(1.125rem, 1.75vw + 0.5rem, 1.5rem);
	/* ~18px–24px */
	--h6-size: clamp(1rem, 1.25vw + 0.25rem, 1.25rem);
	/* ~16px–20px */

}

/*----------------------01. Reset-CSS ------------------------*/
html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
    outline: none;
}

html,
body {
    min-height: 100%;
    width: 100%;
}

input:focus,
button:focus,
a:focus,
a:hover {
    text-decoration: none;
    outline: none;
}

/* Remove Chrome Input Field's Unwanted Yellow Background Color */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0px 1000px white inset !important;
}


p {
    margin: 0 0 15px
}

p:last-child {
    margin-bottom: 0px;
}

a {
    text-decoration: none;
    outline: none;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

input:focus,
button:focus,
a:focus,
a:hover {
    text-decoration: none;
    outline: none;
}

a:hover {
    color: var(--accent-color);
}

strong {
    font-weight: 700;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
    display: block;
}

audio,
canvas,
progress,
video {
    display: inline-block;
    vertical-align: baseline;
}

audio:not([controls]) {
    display: none;
    height: 0;
}

[hidden],
template {
    display: none;
}

b,
strong {
    font-weight: 700;
}

mark {
    background: #ff0;
    color: #000;
}

small {
    font-size: 80%;
}

big {
    font-size: 125%;
}

sub,
sup {
    font-size: 12px;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}

svg,
img {
    border: 0;
    max-width: 100%;
    height: auto;
}

svg:not(:root) {
    overflow: hidden;
}

pre {
    display: block;
    font-family: "Courier 10 Pitch", Courier, monospace;
    padding: 30px;
    margin: 0 0 15px;
    line-height: 1.6em;
    font-size: 14px;
    word-break: break-all;
    word-wrap: break-word;
    background-color: #f5f5f5;
    overflow: auto;
    border: none;
    
    -webkit-box-shadow: 5px 5px 10px 0 var(--gray-color);
    box-shadow: 5px 5px 10px 0 var(--gray-color);
}

input[type="submit"],
input[type="reset"],
input[type="button"],
button {
    overflow: visible;
    text-transform: uppercase;
}

button,
select {
    text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}

button[disabled],
html input[disabled] {
    cursor: not-allowed;
    opacity: .5;
}

input {
    line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    height: auto;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

fieldset {
    border: 1px solid var(--border-color);
    margin: 0 2px;
    padding: 30px;
    
}

fieldset legend {
    border: 0;
    padding: 0;
    font-family: var(--heading-font-family);
    font-weight: 700;
    color: var(--primary-color);
    line-height: 1.4em;
}

textarea {
    overflow: auto;
    height: 160px;
}

optgroup {
    font-weight: bold;
}

dfn,
cite,
em,
i {
    font-style: italic;
}

blockquote {
    padding: 30px 60px 30px 30px !important;
    border-radius: 0;
    color: var(--primary-color);
    position: relative;
    text-align: left;
    margin-bottom: 30px;
    background-color: #ffffff;
    border-color: var(--accent-color) !important;
    font-size: var(--body-font-size);
    line-height: var(--body-line-height);
    overflow: hidden;
    z-index: 1;
    font-size: calc(var(--body-font-size) + 4px);
    
}


blockquote:before {
    content: "\ec52";
    font-family: 'remixicon' !important;
    color: var(--accent-color) !important;
    font-weight: 500;
    font-size: 40px;
    position: absolute;
    right: 15px;
    bottom: 15px;
}

blockquote::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: var(--accent-color);
    opacity: .1;
}

.wp-block-quote.has-text-align-right:before {
    right: auto;
    left: 16px;
}



blockquote blockquote:after,
blockquote blockquote:before {
    display: none;
}

blockquote blockquote {
    padding: 0 !important;
    border-radius: 0;
    margin-bottom: 0;
    background: none;
    border: none !important;
    -webkit-box-shadow: none;
    box-shadow: none;
}


.link_post blockquote {
    width: 100%;
}

.link_post blockquote:before {
    content: "\f0c1";

}

blockquote *:last-child {
    margin-bottom: 0px;
}

blockquote a,
blockquote cite {
    font-weight: 500;
    text-decoration: none;
    color: var(--text-color);
    font-style: normal;
}

blockquote cite {
    font-style: italic;
    font-size: calc(var(--body-font-size) - 2px);
    margin-right: 12px;

}

blockquote a:hover {
    color: var(--accent-color);
    text-decoration: underline;
}

address {
    margin: 0 0 1.5em;
    line-height: inherit;
}

code,
kbd,
tt,
var {
    font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
    padding-right: 10px;
    padding-left: 10px;
    display: inline-block;
}

abbr,
acronym {
    border-bottom: 1px dotted var(--accent-color);
    cursor: help;
}

mark,
ins {
    background: var(--white-color)9c0;
    text-decoration: none;
    padding: 0 4px;
}

hr {
    background-color: var(--accent-color);
    opacity: 1;
    border: 0;
    height: 1px;
}

table,
table th,
table td {
    border: 1px solid var(--border-color);
}

table th {
    font-family: var(--heading-font-family);
    color: var(--primary-color);
}

dd,
dt {
    line-height: inherit;
}

dt {
    font-weight: bold;
}

dd {
    margin: 0 1.5em 1.5em;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    margin: 0 0 1.5em;
    width: 100%;
}

td,
th {
    padding: 6px 16px;
}

th {
    font-weight: 700;
    color: var(--primary-color);
}

/*-- 2. Input-Box-Style --*/
.form-control,
select,
input:is(
    [type="text"],
    [type="email"],
    [type="url"],
    [type="password"],
    [type="search"],
    [type="number"],
    [type="tel"],
    [type="date"],
    [type="month"],
    [type="week"],
    [type="time"],
    [type="datetime"],
    [type="datetime-local"],
    [type="color"]
),
textarea {
    border: 1px solid var(--border-color);
    padding: 16px 18px;
    color: var(--text-color);
    background: var(--white-color);
    width: 100%;
    font-size: var(--body-font-size);
    transition: 0.3s;
    outline: none;
    box-shadow: none;
    border-radius: 6px;
}

/* Focus State */
input:is(
    [type="text"],
    [type="email"],
    [type="url"],
    [type="password"],
    [type="search"],
    [type="number"],
    [type="tel"],
    [type="date"],
    [type="month"],
    [type="week"],
    [type="time"],
    [type="datetime"],
    [type="datetime-local"],
    [type="color"]
):focus,
textarea:focus {
    border-color: var(--border-color);
    box-shadow: none;
    color: var(--primary-color);
}


select option {
    color: #000000;
    background: #ffffff;
}

select {
    -moz-appearance: none;
    /* Firefox */
    -webkit-appearance: none;
    /* Safari and Chrome */
    appearance: none;
    background-image: url('../images/arrow-down.png');
    background-repeat: no-repeat;
    background-size: 15px;
    background-position: center right 15px;
    padding-right: 30px !important;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    color: var(--placeholder-color);
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
    color: var(--placeholder-color);
}

input::placeholder,
textarea::placeholder {
    color: var(--placeholder-color);
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
    -webkit-transition: 0.3s;
    transition: 0.3s;
    font-weight: 500;
    border-radius: 6px;
}

textarea {
    width: 100%;
}

/*-- 3. Posts and pages --*/
.sticky {
    display: block;
}

.updated:not(.published) {
    display: none;
}

.page-content,
.entry-content,
.entry-summary {
    margin: 1.5em 0 0;
}

.page-links {
    clear: both;
    margin: 0 0 1.5em;
}

/*-- 4. Comment-Style --*/
.comment-content a {
    word-wrap: break-word;
}

.bypostauthor {
    display: block;
}

/*-- 5. Media-Style --*/
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
    border: none;
    margin-bottom: 0;
    margin-top: 0;
    padding: 0;
}

iframe {
    width: 100%;
}

iframe,
object {
    max-width: 100%;
}

/*-- 6. Alignment-Style --*/
.alignnone {
    margin: 5px 20px 20px 0;
}

.aligncenter,
div.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}

.alignright {
    float: right;
    margin: 5px 0 20px 20px;
}

.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.alignright {
    float: right;
    margin: 5px 0 20px 20px;
}

a img.alignnone {
    margin: 5px 20px 20px 0;
}

a img.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*-- 7. WordPress-Post-Caption-Style --*/
.wp-caption {
    max-width: 96%;
}

.wp-caption.alignnone {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignleft {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
    margin: 5px 0 20px 20px;
}

.wp-caption img {
    border: 0 none;
    height: auto;
    margin: 0;
    max-width: 98.5%;
    padding: 0;
    width: auto;
}

figcaption,
.wp-caption p.wp-caption-text {
    margin: 10px 0 0;
    padding: 0 4px 5px;
    font-size: calc(var(--body-font-size) - 2px);
    line-height: calc(var(--body-line-height) - 2px);
}

caption {
    color: var(--text-color);
}

.wp-block-search__inside-wrapper {
    align-items: center;
}
.wp-block-search .wp-block-search__button {
    height: 52px;
}
/*-- 8. Text meant only for screen readers. --*/
.screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
}

.screen-reader-text:focus {
    background-color: var(--white-color);
    -webkit-box-shadow: 0 0 2px 2px var(--accent-color);
    box-shadow: 0 0 2px 2px var(--accent-color);
    clip: auto !important;
    color: var(--accent-color);
    display: block;
    font-weight: bold;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000;
}

/*-- 9. Post-Gallery-Style --*/
.gallery {
    margin-bottom: 1.5em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.gallery .gallery-item a {
    display: block;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.gallery {
    display: grid;
    gap: 16px; /* Adjust as needed */
}

.gallery .gallery-item {
    margin: 0px;
}

.gallery-columns-1 {
    grid-template-columns: repeat(1, 1fr);
}

.gallery-columns-2 {
    grid-template-columns: repeat(2, 1fr);
}

.gallery-columns-3 {
    grid-template-columns: repeat(3, 1fr);
}

.gallery-columns-4 {
    grid-template-columns: repeat(4, 1fr);
}

.gallery-columns-5 {
    grid-template-columns: repeat(5, 1fr);
}

.gallery-columns-6 {
    grid-template-columns: repeat(6, 1fr);
}

.gallery-columns-7 {
    grid-template-columns: repeat(7, 1fr);
}

.gallery-columns-8 {
    grid-template-columns: repeat(8, 1fr);
}

.gallery-columns-9 {
    grid-template-columns: repeat(9, 1fr);
}

.gallery-item {
    text-align: center;
}


.gallery-caption {
    display: block;
}

.mejs-audio {
    margin-bottom: 30px;
}

.alignfull,
.alignwide {
    width: 100%;
    position: relative;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    text-align: center;
    padding: 15px;
    background-color: var(--white-color);
    border: 1px solid var(--border-color);
}

.alignwide {
    max-width: 100%;
}

.has-strong-magenta-background-color {
    background-color: #313131;
}

.has-strong-magenta-color {
    color: #f78da7;
}

.has-regular-font-size {
    font-size: calc(var(--body-font-size) - 2px);
}

.has-strong-red-background-color,
.has-strong-red-color {
    color: red;
}

.mt-n30 {
    margin-top: -30px !important;
}

.mb-n30 {
    margin-bottom: -30px !important;
}

.ml-n30 {
    margin-left: -30px !important;
}

.mr-n30 {
    margin-right: -30px !important;
}

.container,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
    position: relative;
}

.post-password-form input[type="submit"] {
    display: inline-block;
    font-size: var(--body-font-size);
    background-color: var(--accent-color);
    color: var(--white-color);
    border: 1px solid var(--accent-color);
    position: relative;
    z-index: 1;
    overflow: hidden;
    text-align: center;
    text-transform: capitalize;
    outline: none;
    letter-spacing: 0.02em;
    padding: 12px 35px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    margin-left: 10px;
    height: 52px;
    
}

.post-password-form input[type="submit"]:hover {
    color: var(--accent-color);
    background-color: var(--white-color);
}

.wp-block-search:not(:last-child) {
    margin-bottom: 32px;
}

.wp-block-group h2,
.wp-block-search .wp-block-search__label {
    font-size: 24px;
    line-height: 34px;
    font-family: var(--heading-font-family);
    color: var(--primary-color);
    font-weight: 700;
    margin-bottom: 12px;
    text-transform: uppercase;
}

.wp-block-group h2 {
    margin-bottom: 20px;
}

.wp-block-search .wp-block-search__button {
    white-space: nowrap;
    color: var(--white-color);
    background-color: var(--accent-color);
    font-weight: 400;
    font-family: var(--body-font-family);
    border: none;
    padding: 5px 25px;
    
}

.wp-block-search .wp-block-search__button:hover {
    background-color: var(--primary-color);
    color: var(--white-color);
}


:root .has-pale-pink-background-color,
.wp-block-cover-image.has-background-dim:not([class*=-background-color]),
.wp-block-cover.has-background-dim:not([class*=-background-color]) {
    color: #ffffff;
}


::-webkit-scrollbar {
    width: 5px;
    background-color: #EBECEF;
}

::-webkit-scrollbar-thumb {
    background-color: #B4B8C4;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #B4B8C4;
}

