@media only screen and (max-width: 992px) {
    .single_post-thumbnail__overlay {
        padding: 32px 32px 0px 32px;
    }
    .post-card.sticky .post-card__content {
        padding: 24px;
    }
    .page-links .page-numbers, .nav-links .page-numbers {
        width: 40px;
        height: 40px;
    }
	
	.site-header {
		padding-top: 50px;
		padding-bottom: 50px;
	}
}

@media only screen and (max-width: 576px) {
    .button, .primary_button {
        padding: 6px 16px;
        font-size: calc(var(--body-font-size) - 2px);
    }
}